//custom variables
$primary: #5265e1;
$secondary: #fa5959;

$nav-pills-link-active-color: #000;
$nav-pills-link-active-bg: none;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-collapse {
    flex-grow: 0;
}

.btn-outline-danger {
    background-color: $secondary;
    color: $white;
    padding: 7px 30px 7px 30px;
}

.btn-outline-danger:hover {
    color: $secondary;
    background-color: $white;
}

.link:hover {
    color: $secondary;
}

.btn-secondary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}

.btn-secondary:hover {
    background-color: $white;
    border-color: $primary;
    color: $primary;
}

.btn-right:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: $secondary;
}

.nav-item {
    background-color: none;
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.nav-link.active,
.show > .nav-link {
    border-bottom: 2px solid #fa5959;
}

/* hover svg in an img tag */
#social:hover {
    filter: invert(63%) sepia(94%) saturate(3173%) hue-rotate(323deg)
        brightness(95%) contrast(106%);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(63%) sepia(94%) saturate(3173%) hue-rotate(323deg)
        brightness(95%) contrast(106%);
}

.accordion-button::after {
    filter: invert(36%) sepia(39%) saturate(2336%) hue-rotate(213deg)
        brightness(94%) contrast(87%);
}

.card:nth-child(2) {
    margin-top: 25px;
}
.card:nth-child(3) {
    margin-top: 50px;
}

.accordion {
    border-color: none;
}

.accordion-button:not(.collapsed) {
    background-color: $white;
    color: black;
}

.footer {
    background-color: #242946;
}

.accordion-item {
    background-color: $white;
    border-right: $white;
    border-left: $white;
}
.footer li a {
    color: $white;
}
